<h1>Artist Form</h1>
<%= form_for(@artist) do |artist| %>

<%= artist.label :name %>
<%= artist.text_field :name %>

<%= artist.label :bio %>
<%= artist.text_field :bio %>

<%= artist.submit "Update Artist" %>

<% end %>