<h1>New Song Form</h1>
<%= form_for(@song) do |song| %>
  <%= song.label :name %>
  <%= song.text_field :name %>

  <%= song.label :genre %>
  <%= song.text_field :genre_id %>
  
  <%= song.label :artist %>
  <%= song.text_field :artist_id %>

  <%= song.submit %>

<% end %>